h2{
  font: 14px Arial, sans-serif;
  color:#fff;
  padding: 10px;
  text-align: center;
}

.red{
  color:#f00 !important;
}

#frames{
  margin:0 auto;
  margin-top:5px;
  width:95%
}

iframe{
  position:absolute;
  background-color:#282A36;
  width:95%;
  height:90%;
  border:0;
}

#lesson-quizframe{
  left:2px;
}

.save-btn{
  display:inline-block;
  transform:scale(0.7);
  margin-top: -3px;
  filter: invert(100%);
  float: left;
}
.save-btn:hover{
  cursor: pointer;
}

.build-btn{
  display:inline-block;
  transform:scale(0.7);
  margin-top: -3px;
  filter: invert(100%);
  float: left;
  color:yellow;
}
.build-btn:hover{
  cursor: pointer;
}

.prod-div{
  display:inline-block;
  margin-top: 0px;
  filter: invert(100%);
  float: left;
  max-zoom: 1.0;
}
.prod-box{
  display:inline-block;
  filter: invert(100%);
  margin-top: -11px;
  margin-left: 5px;
  max-zoom: 1.0;
  float: right;
}
.prod-box:hover{
  cursor: pointer;
}

#lesson{
  color:#fff;
  margin-top: 0.5em;
}

.lesson-hd{
  line-height:1.5em;
  color:lime;
}

.check:hover{
  -webkit-filter: saturate(12);
   filter: saturate(12);
}

p{
  margin: 10px;
}

#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  margin-bottom: 20px;
}

#overlay{
  position:absolute;
  z-index:1000;
  width:100%;
  height:100%;
  background-color:#333;
}

#form{
  padding-top:100px;
}

input{
  position: relative;
  display: block;
  margin:0 auto;
  margin-bottom:10px;
  width:300px;
  height:40px;
  font-size:20px;
  border-radius:5px;
  text-align: center; 
}


.content{
  margin-left:10px;
}

html, body{
  height: 100%;
  font-family:"Fira Sans",Helvetica,Arial,sans-serif;
}

*{
  margin: 0;
  padding: 0;
  list-style-type:none;
}

#wrapper{
  height: 100%;
  position: relative;
  width: 100%;
  overflow: hidden;
}

#menuContainer{
  width: 20%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 0;
  background: #222;
}

#menuContainer li{
  cursor: move;
  border-bottom: 1px solid #000;
  border-top: 1px solid #333;
  cursor: pointer;
  padding: 10px 5px;
  color: #BBB;
  background: #1a1a1a;
  font: 12px Arial, sans-serif;
}

#menuContainer li:hover{
  background: #111;
  color: #CCC;
}

#layoutContainer{
  width: 100%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 0%;
  box-shadow: -3px 0px 9px 0px rgba( 0, 0, 0, 0.4 );
}


/*BUTTON STYLES*/

.pulse:hover,
.pulse:focus {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

.pulse {
  --color: lime;
  --hover: #d4fcbd;
}

button {
  background: none;
  border: 2px solid;
  border-radius: 5px;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 0.5em 0.8em;
}

button {
  color: var(--color);
  transition: 0.25s;
}
button:hover, button:focus {
  border-color: var(--hover);
  color: #fff;
}


/* CONTROLS */

#controls {
  margin: 0 auto;
  width: 92%;
}

/* CUSTOM SELECT*/

select{
  width:300px;
  height:35px;
  font-size:16px;
  color: lime;
  border: 2px solid lime;
  border-radius:5px;
  margin-left:0.0em;
  display: inline-block;
  background-color: #282A36;
  position: relative;
  outline:none;
}

.custom-select select{
  border: none;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  margin: 0;
  width: 100%;
  padding: 12px 55px 15px 15px;
  font-size: 16px;
  color: lime;
}
.custom-select:after {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  line-height: 38px;
  content: "∨";
  text-align: center;
  color: lime;
  font-size: 24px;
  border-left: 1px solid lime;
  z-index: -1;
}

@media only screen and (max-height:500px) {
  #form{
    padding-top: 20px;
  }
}